{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h2 class="text-center text-danger">Liste des Produits </h2>

    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Reference</th>
                <th scope="col">Etat</th>
                <th scope="col">Description</th>
                <th scope="col">Prix</th>
                <th scope="col">Annee</th>
                <th scope="col">Cepage</th>
                <th scope="col">ExpositionSoleil</th>
                <th scope="col">MethodesVendanges</th>
                <th scope="col">Veillissement</th>
                <th scope="col">Vinification</th>
                <th scope="col">ConseilDegustation</th>
                <th scope="col">VolumeEnCl</th>
                <th scope="col">Degre</th>
                <th scope="col">Caracteristique</th>
                <th scope="col">Image</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr >
                <th scope="row">{{ produit.id }}</th>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.reference }}</td>
                <td>{{ produit.etat }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.Annee }}</td>
                <td>{{ produit.Cepage }}</td>
                <td>{{ produit.ExpositionSoleil }}</td>
                <td>{{ produit.MethodesVendanges }}</td>
                <td>{{ produit.Veillissement }}</td>
                <td>{{ produit.Vinification }}</td>
                <td>{{ produit.ConseilDegustation }}</td>
                <td>{{ produit.VolumeEnCl }}</td>
                <td>{{ produit.Degre }}</td>
                <td>{{ produit.Caracteristique }}</td>
                <td> <img src="{{ asset('image/produit/'~produit.image~'.jpg' ) }}" alt=" image_produit" style="max-height: 300px"> </td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}" class="btn btn-success">show</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}" class="btn btn-primary">edit</a>
                    <a href="{{ path('produit_delete', {'id': produit.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %}
