<!-- Start Main Top -->
<div class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="text-slid-box">
                    <div id="offer-box" class="carouselTicker">
                        <ul class="offer-box">
                            <li>
                                <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> 50% - 80% off on Fashion
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Off 50%! Shop Now
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> 50% - 80% off on Fashion
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Off 50%! Shop Now
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="custom-select-box">
                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                        <option>$ USD</option>
                        <option>€ EUR</option>
                    </select>
                </div>
                <div class="right-phone-box">
                    <p>Telephone : <a href="#"> 03 84 25 37 29</a></p>
                </div>
                <div class="our-link">
                    <ul>
                        {% if app.user %}
                            <li><a href="{{path('mon_compte')}}"><i class="fas fa-user text-light"></i> Bonjour {{ app.user.nom|upper  }} {{ app.user.prenom }} </a></li>
                            <li><a href="{{ path('app_logout') }}"><i class="fas fa-lock-open text-light"></i> DÉCONNEXION</a></li>
                        {% else %}
                            <li><a href="{{path('app_login')}}"><i class="fas fa-user-lock "> </i> CONNEXION </a> </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ path('dashboard') }}"><img src="{{ asset('image/logo/logo_Caveau.jpg') }}" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" href="#"> Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('presentation') }}">Le Caveau</a></li>
                    <li class="dropdown ">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Nos Produits</a>
                        <ul class="dropdown-menu " role="menu">
                            {% for categorie in categories %}
                                <li><a href="{{ path('produitByCat', {'categorie': categorie.id}) }}">{{categorie.nom |upper}}</a></li>
                            {% endfor %}

                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Magasin</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('panier') }}">Panier</a></li>
                            <li><a href="{{ path('commander') }}">Commander</a></li>
                            <li><a href="{{path('mon_compte')}}">Mon Compte</a></li>
                            <li><a href="wishlist.html">Favorie</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}">Contactez-nous</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="side-menu"><a href="#">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="badge">{{ productInCart|length }}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu Panier -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <li class="cart-box">
                <ul class="cart-list">
                    {% if productInCart | length >0 %}
                        {% for productDetailCart in productInCart %}
                            <li>
                                <a href="#" class="photo"><img src="{{ asset('image/produit/'~productDetailCart.product.image~'.jpg') }}" class="cart-thumb" alt="" /></a>
                                <h6><a href="{{path('panier')}}">{{ productDetailCart.product.nom }} </a></h6>
                                <p>{{ productDetailCart.quantity }}x - <span class="price">{{ productDetailCart.product.prix |number_format(2, ',', '.')}} €</span></p>
                                <h6><a href="{{path('panier')}}"> Prix : {{ productDetailCart.product.prix * productDetailCart.quantity }} € </a></h6>
                                <a href="{{path('panier_remove',{'id':productDetailCart.product.id})}}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <h2>Pas de produit dans le panier</h2>
                    {% endif %}
                    <li class="total">
                        <a href="{{path('panier')}}" class="btn btn-default hvr-hover btn-cart">Voir Panier</a>
                        <span class="float-right"><strong>Total</strong>: {{ totalPrix }} €</span>
                    </li>
                </ul>
            </li>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
</header>
<!-- End Main Top -->
