<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        {% block stylesheets %}

            <!-- Site Icons -->
            <link rel="shortcut icon" href="{{ asset('image/template/favicon.ico') }}" type="image/x-icon">
            <link rel="apple-touch-icon" href="{{ asset('image/template/apple-touch-icon.png') }}">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <!-- Site CSS -->
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <!-- Responsive CSS -->
            <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
            <!-- Custom CSS -->
            <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
            <!-- Login CSS -->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/fonts/iconic/css/material-design-iconic-font.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/animate/animate.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/css-hamburgers/hamburgers.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/animsition/css/animsition.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/select2/select2.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/daterangepicker/daterangepicker.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/css/util.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('login/css/main.css') }}">
        {% endblock %}
    </head>
    <body>
        {% include 'site_Front/parts/nav.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'site_Front/parts/footer.html.twig' %}
        {% block javascripts %}
            <!-- ALL JS FILES -->
            <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('js/popper.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <!-- ALL PLUGINS -->
            <script src="{{ asset('js/jquery.superslides.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-select.js') }}"></script>
            <script src="{{ asset('js/inewsticker.js') }}"></script>
            <script src="{{ asset('js/bootsnav.js') }}"></script>
            <script src="{{ asset('js/images-loded.min.js') }}"></script>
            <script src="{{ asset('js/isotope.min.js') }}"></script>
            <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('js/baguetteBox.min.js') }}"></script>
            <script src="{{ asset('js/form-validator.min.js') }}"></script>
            <script src="{{ asset('js/contact-form-script.js') }}"></script>
            <script src="{{ asset('js/custom.js') }}"></script>
            <!-- LOGIN JS FILES -->
            <script src="{{ asset('login/vendor/animsition/js/animsition.min.js') }}"></script>
            <script src="{{ asset('login/vendor/select2/select2.min.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('login/vendor/daterangepicker/moment.min.js') }}"></script>
            <script src="{{ asset('login/vendor/daterangepicker/daterangepicker.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('login/vendor/countdowntime/countdowntime.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('login/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
